@keyframes text-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #111;
    margin: 0;
    overflow: hidden;
}

#name {
    border-bottom: 2px dashed red;
}

#canvas-container {
    width: 100%; /* 100% of its parent's width */
    height: 100%;   /* This will be determined by padding-bottom */
    position: absolute;
    padding-top: 2.5%;
}

#model-title {
  padding-top: 2.5%; /* Adjust the padding as needed */
  color: white;
  text-align: center;
  font-size: 46pt;
  position: absolute;
  width: 100%;
}

