body {
    background-color: #111;
    margin: 0;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
}

#border-bot {
    border-bottom: 2px dashed red;
}

#canvas-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 4%;
}

#model-title {
    color: white;
    font-size: 46pt;
    position: relative;
    text-align: center;
    padding-top: 2.5%;
}

#model-subtitle {
    color: white;
    font-size: 12pt;
    position: relative;
    text-align: center;
}